@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0 auto;
    background-color: #e9e9e2;
    width: 90%;
}


.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.dark{
    padding: 15px;
    background: none;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
    text-decoration: underline;
}
h1.dark, h1.page-title{
    font-size: 50px;
    text-align: center
}
#services p{
    padding-bottom: 100px;
    margin-top: -20px;
}
header{
    padding: 0.5em 0;
    text-align: center;
    float: left;
    width: 100%;
    background: #000000;
    border-bottom: #FFD700 3px solid; 
    color: white;
    justify-content: center;
    align-items: center;
    max-height: 70px;
}

.hidden-brand{
    display: none;
}

header h1{
    float: left;
    font-size: 35px;
    padding-left: 100px;
    padding-top: 5px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding-right: 100px;
    padding-top: 10px;
    float: right;
}

ul .hidden{
    float: none;
}

li{
    float: left;
    margin-right: 1px;
}

li a{
    display: block;
    min-width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-right: 5px;
}

li:hover a{
    color: #FFD700;
}


li ul{
    display: none;
}

li ul li{
    display: block;
    float: none;
}

li ul li a{
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover{
    display:block;
}

.show-menu{
    font-family: helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: none;
    font-size: 20px;
    text-decoration: underline;
}
.show-menu:hover{
    color: #FFD700;
    cursor: pointer;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

nav h1{
    position: relative;
    top: -25px;
}

#social{
    padding:1px;
    padding-bottom: 10px;
    color: #f4f4f4;
    background: #000000;
    border-bottom: #FFD700 3px solid; 
    border-top: #FFD700 3px solid; 
}

#social h1{
    float: left;
    font-size: 40px;
    font-family:   'Noto Serif', serif;
}

/* Style all font awesome icons */
.fa {
    padding: 25px;
    font-size: 40px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-top: 40px;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #FFD700;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

/* Twitter */
.fa-twitter {
    background: #FFD700;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

/* instagram */
.fa-instagram {
    background: #FFD700;
    color: rgb(0, 0, 0);
    font-size: 1000px;
}

#boxes{
    margin-top: 20px;
    
}

#boxes .box{
    float: left;
    text-align: left;
    width: 30%;
    padding: 5px;
    text-align: center;
    margin-left: 20px;

}

#boxes .box img{
    width: 150px;
    height: 150px;
    padding-left: 0px;
}




aside#sidebar{
    float: right;
    width: 50%;
    margin-top: -10px;
    margin-bottom: 100px;

}

h3{
    font-family:   'Noto Serif', serif;
    font-size: 40px;
}

article#main-col{
    float: left;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 40px;

}


#contact{
    display: block;
}
.page-title{
    position: relative;
    top: -50px;
    right:100px;
    margin-bottom: -50px;
}

ul#contact li{
    margin-top: 71px;
    color: #ffffff;
    list-style: none;
    padding: 20px;
    border: #FFD700 solid 3px;
    margin-bottom: 5px;
    background: #000000;
    text-align: center;
    width: 100%;
}


#main-col h1{
    font-size: 50px;
    padding-left: 0px;
    font-family:   'Noto Serif', serif;
}
#main-col .about{
    margin-bottom: 30px;
}

.img5{
    display: block;
    width: 400px;
    height: 600px;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #f4f4f4;
    background: #000000;
    text-align: center;
    border-top: #FFD700 3px solid; 
}

#gallery h1{
    font-family:  'Noto Serif', serif;
    font-size: 45px;
}

#gallery th{
    font-family:   'Noto Serif', serif;
    font-size: 40px;
}

img{
    width: 200px;
    height: 190px;
    padding-bottom: 20px;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 660px;
    width: 100%;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

#main .btn{
    background-color: #FFD700;
    padding: 10px;
    border: #000000 3px solid;
    border-radius: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#main .btn:hover{
    background-color: rgb(253, 221, 41, 0.5);
    padding: 12px;
}


.slide .content h1{
    margin-bottom: 10px;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next{
    position: absolute;
    top: 50%;
    right: 100px;
}

.buttons button#prev{
    position: absolute;
    top: 50%;
    left: 100px;
}

.buttons button{
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover{
    background-color: #fff;
    color: #333;
}

.slide:first-child{
    background: url('../img/ba0.jpeg') no-repeat center center/cover;
}
.slide:nth-child(2){
    background: url('../img/ba1.jpeg') no-repeat center top/cover;
}
.slide:nth-child(3){
    background: url('../img/ba2.jpeg') no-repeat center top/cover;
}
#main{
    margin-bottom: -50px;
}
@media(min-width: 769px){
    #contact{
        float: left;
        position: relative;
        left: 0px;
        width: 400px;
        top: -50px;
        margin-bottom: -300px;
    }
    iframe{
        float: right;
        position: relative;
        right: -450px;
        width: 400px;
        height: 400px;
        top: -100px;
    }

    .page-title{
        margin-left: 250px;
    }
}
@media(max-width: 768px){
   
   
    #social h1, #social, #boxes .box img{
        float: none;
        text-align: center;
        width: 100%;
        color: white;
    
    }
    article#main-col{
        float: none;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .dark{
        margin-top: 0;
        padding-top: 0;
    }

    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
        margin-top: -30px;
        margin-bottom: -10px;
    }

    header h1{
        float: left;
        font-size: 35px;
        padding-left: 50px;
        padding-top: 5px;
    }
    ul{
        list-style-type: none;
        margin-top: -134px;
        padding-right: 100px;
        padding-top: 0;
        float: right;
    }
    
    
    li{
        float: left;
        margin-right: 1px;
        margin-top: 50px;
    }
    
    li a{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        left: 0px;
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom: #FFD700 3px solid; 

    }
    ul{
        display: none;
    }

    li{
        margin-bottom: 1px;
    }

    ul li, li a{
        width: 100%;
    }

    .show-menu{
        width: 25%;
        display: block;
        float: right;
        margin-right: 50px;
        margin-top: 12px;
    }

    #show-menu{
        margin-left: 1000px;
    }

    nav h1{
        top: -25px;
    }
    #boxes .box{
        float: none;
        text-align: center;
        width: 100%; 
    }

    #showcase h1{
        font-size: 55px;
        margin-top: 40px;
        color: #FFD700;
    }
    #showcase p{
        font-size: 15px;
        color: #FFD700;;
    }
    #social h1{
        text-align: center;
        font-size: 40px;

    }
    #social a{
        position: relative;
        right: 20%;
        text-align: center;
        width: 10%;
        margin: 5px;
        justify-content: center;
        align-items: center;

    }
    ul#contact li{
        display: block;
        list-style: none;
        padding-right: 10px;
        
        border: #FFD700 solid 3px;
        margin-bottom: 5px;
        background: #000000;
        text-align: center;
        width: 75%;
    }
    #showcase{
        min-height: 0px;
        background:url('../img/all.jpg') no-repeat 0;
        text-align: center;
        color: #000000;
        margin-top: 0;
        
    }
    .img5{
        width: 290px;
        height: 290px;

    }
    
    img{
        width: 100px;
        height: 90px;
        padding-bottom: 20px;
    }
    #boxes .box img{
        width: 150px;
        height: 150px;
        margin-right: 25px;
        margin-top: 10px;
    }
    #boxes{
        font-size: 15px;
    }

    #main-col h1{
        font-size: 40px;
        padding-left: 0px;
    }
    #boxes .box img{
        width: 150px;
        height: 150px;
        padding-left: 20px;
    }
    #boxes .box{
        text-align: center;
        padding: 0px;
    
    }
    body{
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .buttons button#next{
        position: absolute;
        top: 40%;
        right: 25px;
    }
    
    .buttons button#prev{
        position: absolute;
        top: 40%;
        left: 25px;
    }
    iframe{
        float: right;
        margin-top: -300px;
        width: 213px;
        height: 200px;
        z-index: 2;
        
    }
    
    #contact{
        float: left;
        margin-top: 0px;
        width: 400px;
        z-index: 1;
    }
    #main{
        width: 100%;
    }

    .page-title{
        top:-20px;
        right: 0;
    }

    footer{
        position: relative;
        margin-top: 100px;
        width: 100%;
    }

    #main h1{
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 45px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    form{
        display: none;
    }
    

}
@media (min-width: 410px) and (max-width:500px){
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.slide .content{
    bottom: -300px;
    left: 0;
    width: 100%;
}

.slide.current .content{
    transform: translateY(-300px);
}

#social h1, #social, #boxes .box img{
    text-align: center;
    width: 100%;
    color: white;
    display: block;
}
article#main-col, aside#sidebar{
    color: black;
    display: block;
    text-align: center;
    width: 100%;
}

 aside img{
     position: relative;
     right: 15px;
     margin-top: 10px;
 }



#boxes .box{
    float: none;
    text-align: center;
    width: 100%; 
}
#social a{
    position: relative;
    right: 7%;
    text-align: center;
    width: 10%;
    margin: 5px;
    justify-content: center;
    align-items: center;

}
#boxes .box img{
    position: relative;
    top: 40px;
    right: 100px;
    width: 200px;
    height: 200px;
    padding-left: 170px;
}
.slider{
    position: relative;
    overflow: hidden;
    height: 600px;
    width: auto;
}
.buttons button#next{
    position: absolute;
    top: 40%;
    right: 25px;
}

.buttons button#prev{
    position: absolute;
    top: 40%;
    left: 25px;
}

.slider{
    width: 100%;
}

.hidden-brand{
    display: block;
    position: absolute;
    color: white;
    margin-left: 80px;
    padding-top: 5px;
    font-size: 35px;
}

header{
min-height: 100px;
min-width: 100%;
}


header h1{
  display: none;
}

.show-menu{
    margin-right: 156px;
    margin-top: 50px;
}

ul{
    margin-top: -42px;
}
form{
    display: none;
}
iframe{
    position: block;
    bottom: 10px;
    z-index: 4;
}

#main-col h1{
padding:0;
margin: 0;
}

iframe{
    width: 350px;
    position: relative;
    top: 200px;
    height: 500px;
    
}

#contact{
    position: relative;
    width: 350px;
    left: -25px;
    top: -90px;
    margin-right: 10px;
    margin-bottom: 30px;
}

footer{
    position: relative;
    width: 89%;
    bottom: 0px;
    margin-top: 120px;
}

#main h1{
    margin-top: 10px;
}
nav h1{
    position: absolute;
    left: -30px;
}

}
@media(max-width: 409px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .slide .content{
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content{
        transform: translateY(-300px);
    }

    #social h1, #social, #boxes .box img{
        text-align: center;
        width: 100%;
        color: white;
        display: block;
    }
    article#main-col, aside#sidebar{
        color: black;
        display: block;
        text-align: center;
        width: 100%;
    }

   
     aside img{
         position: relative;
         right: 15px;
         margin-top: 10px;
     }
    
    

    #boxes .box{
        float: none;
        text-align: center;
        width: 100%; 
    }
    #social a{
        position: relative;
        right: 7%;
        text-align: center;
        width: 10%;
        margin: 5px;
        justify-content: center;
        align-items: center;

    }
    #boxes .box img{
        position: relative;
        top: 40px;
        right: 100px;
        width: 200px;
        height: 200px;
        padding-left: 150px;
    }
    .slider{
        position: relative;
        overflow: hidden;
        height: 600px;
        width: auto;
    }
    .buttons button#next{
        position: absolute;
        top: 40%;
        right: 25px;
    }
    
    .buttons button#prev{
        position: absolute;
        top: 40%;
        left: 25px;
    }

    .slider{
        width: 100%;
    }

    .hidden-brand{
        display: block;
        position: absolute;
        color: white;
        margin-left: 50px;
        padding-top: 5px;
        font-size: 35px;
    }

    header{
    min-height: 100px;
    min-width: 100%;
    }
    

    header h1{
      display: none;
    }

    .show-menu{
        margin-right: 141px;
        margin-top: 50px;
    }

    ul{
        margin-top: -141px;
    }
    form{
        display: none;
    }
    iframe{
        position: block;
        bottom: 10px;
        z-index: 4;
    }

    #main-col h1{
    padding:0;
    margin: 0;
    }
    
    iframe{
        width: 350px;
        position: relative;
        top: 200px;
        height: 500px;
        
    }
    
    #contact{
        position: relative;
        width: 350px;
        left: -40px;
        top: -90px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    footer{
        position: relative;
        width: 89%;
        bottom: 0px;
        margin-top: 120px;
    }

    #main h1{
        margin-top: 10px;
    }
    nav h1{
        position: absolute;
        left: -30px;
    }
    
}
